.rich-text-section .ProseMirror h1 {
  font-size: 3.75rem;
  line-height: 3.75rem;
  letter-spacing: -0.0083333333em;
  font-weight: 300;
  font-family: Roboto, sans-serif;
  margin-bottom: 16px;
}
.rich-text-section .ProseMirror h2 {
  font-size: 2.75rem;
  line-height: 2.75rem;
  letter-spacing: -0.0083333333em;
  font-weight: 400;
  font-family: Roboto, sans-serif;
  margin-bottom: 16px;
}
.rich-text-section .ProseMirror h3 {
  font-size: 1.75rem;
  line-height: 2.75rem;
  letter-spacing: -0.0083333333em;
  font-weight: 400;
  font-family: Roboto, sans-serif;
  margin-bottom: 16px;
}
.rich-text-section .ProseMirror blockquote {
  font-family: Roboto, sans-serif;
  font-size: 1.95rem;
  font-weight: 200;
  margin: 25px 0px;
  font-style: italic;
}
.rich-text-section .ProseMirror img {
  border-radius: 5px;
  max-width: 100%;
  height: auto;
}
